{
    margin: 0;
    padding: 0;
}

 :root{

 }

 .cabecalho {
  background-color: aliceblue;
  padding: 135px;
 }

 .corpo{
 background-color: azure;
 padding: 186px;
 }

 .footer{
 background-color: aquamarine;
 padding: 89px;
 }